altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.12
future==0.18.2
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
pefile==2021.9.3
prettytable==3.2.0
pyecharts==1.9.1
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
PySide2==5.15.2.1
pywin32-ctypes==0.2.0
requests==2.28.1
shiboken2==5.15.2.1
simplejson==3.17.6
urllib3==1.26.9
wcwidth==0.2.5
