altgraph==0.17.2
certifi==2021.5.30
charset-normalizer==2.0.6
future==0.18.2
idna==3.2
pefile==2021.9.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pywin32-ctypes==0.2.0
requests==2.26.0
urllib3==1.26.7
